{%  extends 'templates/layout.twig' %}
{%  block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">Welcome</div>
                <div class="panel-body">
                    Hello {{ name }}. Use the menu above to navigate around the site.
                </div>
            </div>

        </div>
    </div>
{% endblock %}